@charset "utf-8";
/* CSS Document */

body { font-size: 12px; line-height: 22px; margin: 0px; padding: 0px;  font-family:"Microsoft YaHei", "微软雅黑", "SimSun", "宋体";}
body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, textarea, th, ul , img { padding:0; margin:0; border:0;}
ul,li { margin: 0px; padding: 0px; border: none; list-style-type: none;}
.clearfix:after { content: ""; height: 0; visibility: hidden; display: block; clear: both; }
.clearfix { zoom: 1; }
.bianju_650 { width:100%;  /*height:450px;*/}

.top_banner { height:40px; background:#007BDD; border-bottom:1px solid #FFF; -webkit-app-region: drag;}
.top_banner a { color:#FFF; text-decoration:none; -webkit-app-region: no-drag;}
.denglu_24bk { float:left; padding:8px 0 0 16px; -webkit-app-region: no-drag;}
.denglu_img { float:left;}
.denglu_txt { float:left; padding:0 0 0 10px; width:35px; line-height:24px; font-size:14px;}
.top_jiantou { float:left; width:74px; padding:10px 0 0 71px; }
.top_jiantou a { float:left; margin-right:10px;}
.top_sousuo { width:210px; height:27px; margin:6px 0 0 14px; float:left; background:url(../images/sousuo_bj.png);-webkit-app-region: no-drag;}
.sousuo_input_bk { width:167px; height:26px; padding-top:1px; float:left; margin-left:13px;  overflow:hidden;}
.ss_input { font-size:12px; color:#99A3AB; font-family:"Microsoft YaHei", "微软雅黑", "SimSun", "宋体"; margin: 0px; padding: 0px; border-style: none; line-height:26px; height:26px; }
.sousuo_anniu { float:left; width:28px;}
.sousuo_but { width:28px; float:left; overflow:hidden; height:27px; background-color:transparent; cursor:hand;}
.ico_youjian { float:left; margin: 13px 9px 0 50px;-webkit-app-region: no-drag; cursor:pointer; }
.ico_shezhi { float:left; margin:14px 9px 0 0 ;-webkit-app-region: no-drag; cursor:pointer;}
.mini { 
    float:left; 
    display: block;
    width:16px;
    height:17px;
    margin:13px 9px 0 0 ;
    background:url(../images/tuichu_ico.png);
    -webkit-app-region: no-drag;
    cursor:pointer;
}
.minied{
   float:left; 
    display: block;
    width:16px;
    height:17px;
    margin:13px 9px 0 40px;
    background:url(../images/minied.png);
    -webkit-app-region: no-drag; 
    cursor:pointer;
}
.ico_suoxiao { float:left; margin:13px 9px 0 0 ;-webkit-app-region: no-drag; cursor:pointer;}
.ico_xiao { 
    float:left; 
    display: block; 
    width:12px; 
    height:16px;
    margin:12px 9px 0 0 ;
    -webkit-app-region: no-drag;
    background: url(../images/xiao_ico.png) center no-repeat;
    cursor:pointer;
}
.ico_close { float:left; margin:12px 9px 0 0 ;-webkit-app-region: no-drag; cursor:pointer;}
.left_fenlei { line-height:16px; }
.left_fenlei li { height:16px;padding-left:18px;}
.jihuo { background:#EBEBEB;}
.left_fenlei p { float:left; }
.left_fenlei span {  float:right; padding:1px 5px 0 0; }
.left_fenlei div {  float:right; padding:0 4px 0 5px; font-weight:bold;}
.liebiao_lanmu { height:22px;}
.liebiao_lanmu p { float:left; }
.link_lb {background: url(../images/liebiao_ico2.png) no-repeat 3px center; padding-left: 18px; }
.hover_lb {background: url(../images/liebiao_ico3.png) no-repeat 3px center;padding-left: 18px; }
.liebiao_lanmu span { float:right; display:block; padding:7px}

.mid_bk { height:369px; overflow: hidden;}
.mid_left { float:left; width:195px; border-right:1px solid #E2E2E2; height:369px;overflow: hidden;}
.mid_right { float:right; width:454px;/*height:369px;*/overflow: hidden;}
.left_bbanner { height:33px; border-bottom:1px solid #E2E2E2; background:#007BDD;}
.left_bbanner a {width:38px; float:left; border-right:1px solid #269DDB; height:25px; display:block; text-align:center; padding-top:8px}
.left_bbanner a:hover { background:#509AD5;}
.left_bbanner .on{background:#509AD5;}
.liebiao_list { height:218px;overflow:hidden; }
.ce_back { height:18px; padding:6px;}
.ce_ad_bk { height:87px; white-space:195px; overflow:hidden;}
.nr_banner { height:33px; border-bottom:1px solid #E2E2E2; color:#4C4C4C;}
.nr_banner li { float:left; width:72px; height:31px; line-height:31px; text-align:center; margin-left:32px; font-size:16px;  }
.nr_banner li:hover { color:#269AF7; border-bottom:2px solid #56B1F9; cursor:hand;}
.nr_banner_jg { color:#269AF7; border-bottom:2px solid #56B1F9; cursor:hand;}
.nr_ad { height:58px; margin:2px;}
.nr_ad_left { height:58px; float:left; width:332px; margin-right:2px; background:#D7D7D7 }
.nr_ad_right { height:58px; float:left; width:106px; background:#D7D7D7}
.tiaoshi_bk { height:22px; }
.tiaoshi_left_tu { float:left; padding:3px;}
.tiaoshi_left_txt { float:left; padding-left:33px; color:#8C8C8C;}
.tiaoshi_right_jia { float:right; padding:4px 7px;}
.toggle_onoff { float:right; margin:2px; margin-right:25px;}
.toggle_onoff a { 
    background:url(../images/toggle_off.png); 
    display:block;
    width:37px; 
    height:17px; 
}
.toggle_onoff a:hover{
    background:url(../images/toggle_on.png);
}
.toggle_onoff .on { 
    background:url(../images/toggle_on.png);
}
/*.toggle_onoff .on:hover { 
    background:url(../images/toggle_off.png);
}*/
.list_shengxiao { padding:2px;}

.list_shengxiao ul{height:250px; overflow-y:scroll;}

.list_shengxiao li {
    float:left;  
    width:82px;
    height:30px;
    font-size:14px; 
    line-height:30px; 
    text-align:center; 
    margin:0 10px 13px 10px; 
    border:2px solid #666;
}
.list_shengxiao li a {
    width:82px; 
    height:30px; 
    position:relative;
    display:block;  
    color:#57515B;
    text-decoration: none;
}

.list_shengxiao li a span{
    display:none;
    position:absolute;
    width:20px;
    height:20px;
    top:5px;
    right:-10px;
    text-align: center;
    line-height: 20px;
    color:#fff;
    background: #666;
    border-radius:50%;
}

.list_shengxiao.sort li{
    cursor:move;
    -webkit-user-select: none;
}
.list_shengxiao.sort li a span{
    display:block;
}
.list_shengxiao.sort li a span:after{
    content:'x';
}

.list_shengxiao li a:hover { 
    color:#E95D4B; 
}
.list_shengxiao li a:active { 
    background:#509AD5;
    color:#FFF; 
}
.list_shengxiao .on a{
	background:#509AD5;
    color:#FFF; 
}
.shiting_bk { height:30px; border-bottom:1px solid #CCC;}
.shiting_left { float:left; padding:6px 0 0 12px;}
.shiting_right { float:right; padding:7px 12px 0 0;}
.moren_list { height:30px; line-height:30px; border-bottom:1px solid #CCC; font-size:15px; color:#213547; cursor: pointer;-webkit-user-select: none;}
.moren_list p { float:left; }
.moren_list span { 
    float:right; 
    display:block; 
    width:17px;
    height:16px;
    padding:7px;
    background:url(../images/lb_ico_shou.png) no-repeat center;
}
.moren_list.on span{
    background:url(../images/lb_ico_xiala.png) no-repeat center;
}
.mrlink_lb {background: url(../images/liebiao_shou.png) no-repeat 3px center; padding-left: 26px; }
.moren_list.on .mrlink_lb {background: url(../images/liebiao_xiala.png) no-repeat 3px center;padding-left: 26px; color:#5CC3FE; }

.moren_list.on~ul{
    display:block;
}

.gai_list_2 {display:none; height:155px; overflow-y: auto; line-height:30px; font-size:14px; color:#213547;}
.gai_list_2 li { height:30px; border-bottom:1px solid #CCC;  }
.gai_list_2 li p { float:left; padding-left:36px; background: url(../images/yinyue_tubiao.png) no-repeat 10px center; cursor:default;}

.gai_list_2 li span { display:block; float:right; width:18px; height:17px; margin:8px 6px 0 0; cursor: pointer;}
.gai_list_2 .favorite{
    background:url(../images/like_ico.png) no-repeat center;
}
.gai_list_2 .favorited{
    background:url(../images/favorited.png) no-repeat center;
}
.gai_list_2 .on .favorited{
    background:url(../images/favorited2.png) no-repeat center;
}
.gai_list_2 .delete{
    background:url(../images/del_ico.png) no-repeat center;
}
.gai_list_2 li {display:block; width:100%; height:30px;}
.gai_list_2 li:hover { background:#E1E1E1; }
.gai_list_2 .on:hover{
    background: #4BBDFF;
}
.gai_list_2 .on{
   background:#4BBDFF;
}
.gai_list_2 .on p{
    background: url(../images/bofang_tubiao.png) no-repeat 10px center; color:#FFFE42;
}
.gai_list_2 .on .favorite{
    background-image: url(../images/like_ico_2.png);
}
.gai_list_2 .on .delete{
    background-image: url(../images/del_ico_2.png);
}



.bofang_bk { height:40px; background:#007BDD; position:relative; -webkit-app-region: drag;}
.bofang_1 { 
	float:left;
	display: block;
	width:23px;
	height:20px; 
	margin:11px 0 0 35px;
	background: url(../images/bofang_ico_1.png) no-repeat;
	opacity:.8;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.bofang_2 { 
    display:block; 
    float:left; 
    margin:9px 0 0 20px;
    width:20px;
    height:24px;
    background:url(../images/play.png) center no-repeat;
    cursor: default;
    opacity:.8;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.bofang_2.playing{
    background:url(../images/bofang_ico_2.png) bottom left no-repeat;
} 



.bofang_3 { 
	float:left; 
	margin:11px 0 0 16px;
	width:23px;
	height:20px; 
	background: url(../images/bofang_ico_3.png) no-repeat;
	opacity:.8;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.bofang_1:hover,.bofang_2:hover,.bofang_3:hover{
	opacity:1;
}
.jindu_bk { padding:6px 0 0 20px; float:left; width:250px; }
.jindu_shang { height:18px;}
.jindu_shang span { 
    float:left;
    width:25px;
    height:18px;
    background:url(../images/bofang_ico_hd.png) no-repeat; 
    display:block;
}
.jindu_shang p { float:left; color:#FFF; line-height:16px; padding-left:5px;-webkit-app-region: no-drag;}
.jindu_xia { height:16px; line-height:16px; -webkit-app-region: no-drag;}
.jindu_shijian { float:left; color:#FFF;}
.jindu_tiao { width:176px; float:left; height:4px; background: #fff; line-height:4px; border:1px solid #E0E0E0; margin:4px; overflow:hidden;}

.jindu_tiao .process{
	width:0%;
	height:4px;
	background:#EB7D63;
}

.volume{
	width:100%;
	height:4px;
	background:#EB7D63;
}

.bofang_4 { 
    float:left; 
    display: block;
    width:12px;
    height:16px;
    margin:15px 13px 0 10px;
    background: url(../images/bofang_ico_4.png) top center no-repeat;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.bofang_4:hover{
    background: url(../images/bofang_ico_4_a.png) top center no-repeat;
}
.bofang_bk .favorite { 
    float:left; 
    display: block; 
    width: 16px; 
    height:15px; 
    margin:16px 13px 0 0;
    background: url(../images/bofang_ico_5.png) top center no-repeat;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.bofang_bk .favorite:hover{
    background: url(../images/favorited2.png) top center no-repeat;
}
.bofang_bk .favorited{
    float:left; 
    display: block; 
    width: 16px; 
    height:15px; 
    margin:16px 13px 0 0;
    background: url(../images/favorited2.png) top center no-repeat;
    -webkit-app-region: no-drag;
}
.circle { 
    float:left;
    display: block;
    width:19px;
    height:11px; 
    margin:17px 13px 0 0;
    background: url(../images/bofang_ico_6.png) no-repeat;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.circle:hover{
    background: url(../images/circle.png) no-repeat;
}
.circled { 
    float:left;
    display: block;
    width:19px;
    height:11px; 
    margin:17px 13px 0 0;
    background: url(../images/circle.png) no-repeat;
    -webkit-app-region: no-drag;
}
.bofang_7 { 
    float:left; 
    display:block;
    width:17px;
    height:12px;
    background: url(../images/bofang_ico_7.png) no-repeat;
    margin:17px 5px 0 0;
}
.shengyin_jindu { 
    width:47px; 
    border:1px solid #E0E0E0; 
    height:4px; 
    background: #fff; 
    line-height:4px; 
    float:left; 
    margin:20px 8px 0 0; 
    overflow:hidden;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.ce_duihua { 
    width:48px; 
    height:22px; 
    line-height:24px; 
    background:#034077 url(../images/bofang_ico_8.png) no-repeat 10px center; 
    border:2px solid #7968A0; 
    float:left; 
    margin:8px 0 0 9px; 
    text-indent: 28px; 
    color:#D98500; 
    font-weight:bold; 
    -webkit-app-region: no-drag;
}


.bofang_mini { width:355px; height:240px;}
.toggle_onoff_mini { float:right; margin:2px; margin-right:10px;}
.toggle_onoff_mini a { background:url(../images/toggle_on.png); display:block;width:37px; height:17px; }
.toggle_onoff_mini a:hover { background:url(../images/toggle_off.png);}
.xiaochuang_list { padding:2px; height:120px; overflow:hidden}
.xiaochuang_list li {  font-size:17px; line-height:30px; text-align:center; }
.xiaochuang_list li a {float:left; width:76px; padding-right:7px; height:30px; display:block;background:url(../images/yinxiao_link.jpg); cursor:hand; color:#57515B;margin:0 0 13px 4px; }
.xiaochuang_list li a:hover { background:url(../images/yinxiao_hover.jpg); color:#E95D4B; }
.xiaochuang_list li a:active { background:url(../images/yinxiao_active.jpg); color:#FFF; }
.xiaochuang_ad { height:60px; width:345px; margin:0 5px; background:#D7D7D7;}
.xiao_kz { height:35px; background:#0181F7}

.miniFooter{

}

.miniFooter .favorite,.miniFooter .favorited{
    position:absolute;
    left:14px;
    top:14px;
    margin:0;
}
.miniFooter  .circle,.miniFooter  .circled{
    position:absolute;
    right:15px;
    top:15px;
    margin:0;
}
.miniFooter .bofang_1{
    margin:11px 0 0 44px;
}

.pop{
    display: none;
    position:absolute;
    left:0;
    top:0;
    width:60px;
    padding:5px 10px;
    background:#fbfbfb;
    text-align: center;
    border-radius:0 4px 4px 4px;
    border:1px solid #bababa;
}
.pop a{
    display: block;
    color:#333;
    text-decoration:none;
}
.pop a:hover{
    color:#999;
}

.shortCutsPop{
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:270px;
    padding:20px 20px 10px 50px;
    background:#fbfbfb;
    border:1px solid #bababa;
    border-radius:2px;
}
.shortCutsPop label{
    display:block; 
    font-size:14px;
    margin-bottom:10px;
}
.shortCutsPop input{
    width:120px;
    height:24px;
    border:1px solid #bababa;
}
.shortCutsPop p{
    color:red;
}
.shortCutsPop .btn-box{
    margin-top: 12px;
}
.btn-box{
    margin-top: 30px;
    text-align:center;
}
.btn-box a{
    display:inline-block;
    width:70px;
    line-height: 26px;
    color:#000;
    border:1px solid #bababa;
    text-decoration:none;
    margin:0 20px;
}
.btn-box a:hover{
    border-color:#3e7ef8;
}

.setPop{
    display:none;
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:500px;
    height:330px;
    background:#fbfbfb;
    border:1px solid #bababa;

}

.set-left{
    float:left;
    width:100px;
    height:330px;
    background: #f1f1f1;
}
.set-left a{
    display:block;
    width:100px;
    line-height: 30px;
    text-align: center;
    font-size:14px;
    color:#333;
    text-decoration: none;
    border-bottom:1px solid #bababa;
}
.set-left .on{
    background: #007BDD;
    color:#fff;
}
.set-con{
    float:left;
    width:400px;
    height:330px;
    position:relative;
}
.setPop .btn-box{
    position: absolute;
    width:100%;
    bottom:20px;
    right:0px;
    text-align: right;
}
.setPop .btn-box a{
    text-align: center;
    margin-right:50px;
}
.table-box{
    width:300px;
    height:200px;
    border:1px solid #bababa;
    overflow:auto;
    margin:0px auto;
}
.table{
    width:100%;
    text-align: center;

}
.table th{
    background:#bababa;
}
.set-tab{
    display:none;
    padding:20px 20px 0;
}

.choose-box{
    text-align: center;
}
.setPop h3{
    text-align: left;
    margin-bottom:10px;
    font-weight: normal;
}
.chooseAudio{
    width:300px;
    margin-top:10px;
}

.ml-10{
    margin-left:17px;
}

.to-max{
    display:none;
    float:left;
    width:14px;
    height:14px;
    margin:15px 0 0 20px;
    background:url(../images/icon-max.png) no-repeat;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.midFooter .favorite,.midFooter .favorited,.midFooter .circle,.midFooter .circled{
    display: none !important;
}

/*登入弹窗*/
.login-box{
    display:none;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:280px;
    height:220px;
    background:#fbfbfb;
    border:1px solid #bababa;
    border-radius:4px;
    padding:10px 20px 10px;
    font-size:14px;
}
.login-box p{
    text-align: center;
    margin-bottom:20px;
    line-height:20px;
}
.login-box ul{

}
.login-box li{
    line-height: 30px;
    margin:20px 0;
}
.login-box input[type=text],.login-box input[type=password]{
    border:1px solid #bababa;
    width:160px;
    height:30px;
    padding-left:6px;
}
.login-box a{
    font-size:12px;
    margin-left:5px;
}
.login-box .btn-box{
    margin-top:15px;
}
.login-box label{
    padding-left:45px;
}
.login-box input[type=checkbox]{
    vertical-align: -2px;
}
.mini-login{
    width:160px;
    height:200px;
    padding:10px;
}
.mini-login ul a,.mini-login span{
    display:none;
}
.mini-login input[type=text],.mini-login input[type=password]{
    width:150px;
}
.login-box label{
    padding-left:10px;
}
.mini-login .btn-box a{
    margin:0px;
    margin-left:5px;
}



































