@charset "utf-8";
/* CSS Document */

body { font-size: 12px; line-height: 22px; margin: 0px; padding: 0px;  font-family:"Microsoft YaHei", "微软雅黑", "SimSun", "宋体";}
body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, textarea, th, ul , img { padding:0; margin:0; border:0;}
ul,li { margin: 0px; padding: 0px; border: none; list-style-type: none;}
.clearfix:after { content: ""; height: 0; visibility: hidden; display: block; clear: both; }
.clearfix { zoom: 1; }
.bianju_650 { width:100%;  /*height:450px;*/ }
body{
    overflow: hidden;

}
.default{}
.default .top_banner{ background-image: linear-gradient(-1deg, #3083E5 0%, #4CAEFB 100%); }
.default .bofang_bk{background: #4792EA; transition: background .5s;}
.default .miniFooter{
    background: rgba(0,0,0,.6);
}

.top_banner { height:47px; -webkit-app-region: drag;}
.top_banner a { color:#FFF; text-decoration:none; -webkit-app-region: no-drag;}

.denglu_img { float:left;}
.denglu_img img{ border-radius: 50%; }
.denglu_txt { 
    float:left; 
    padding:0 0 0 10px; 
    width:60px; 
    line-height:22px; 
    font-size:8px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    -webkit-app-region: drag;
}
.denglu_txt span{
    -webkit-app-region: no-drag;
}
.short-name{
    width:36px;
}
.top_jiantou { float:left; width:74px; margin:16px 0 0 0px; }
.top_jiantou a { float:left; margin-right:5px;}
.top_sousuo { width:194px; height:24px; margin:11px 0 0 42px; float:left; background:url(../images/bg_search.png);-webkit-app-region: no-drag;}
.sousuo_input_bk { width:155px; height:24px; float:left; margin-left:13px;  overflow:hidden; background: none;}
.ss_input {width:150px; font-size:8px; color:#fff; font-family:"Microsoft YaHei", "微软雅黑", "SimSun", "宋体"; margin: 0px; padding: 0px; border-style: none; line-height:24px; height:24px; background: none; }
.ss_input::-webkit-input-placeholder{color:#fff;}
.sousuo_anniu { float:left; width:25px; height: 24px;}
.sousuo_but { width:25px; float:left; overflow:hidden; height:24px; cursor:pointer; background: url(../images/ic_search.png) center no-repeat transparent;}
.ico_youjian { float:left; margin: 16px 0px 0 40px;-webkit-app-region: no-drag; cursor:pointer; }
.ico_shezhi { 
    position:relative;
    float:left; 
    width:16px;
    height:16px;
    margin:16px 0px 0 12px ;
    -webkit-app-region: no-drag; 
    cursor:pointer;
}
.ico_shezhi ul{
    display: none;
    position: absolute;
    width:70px;
    height:48px;
    right:-64px;
    top:8px;
    background:#f1f1f1;
    border: 1px solid #bababa;
    text-align: center;
    line-height:24px;
    z-index:99;
}
.ico_shezhi:hover ul{
    display: block;
}
.ico_shezhi li{
    height:24px;
    border-bottom: 1px solid #bababa;
    cursor:pointer;
    -webkit-app-region: no-drag; 
}
.ico_shezhi li:last-child{
    border-bottom: none;
}
.ico_shezhi li:hover{
    color:#fff;
    background: #007BDD;
}
.mini { 
    float:left; 
    display: block;
    width:16px;
    height:16px;
    margin:16px 0px 0 12px ;
    background:url(../images/ic_tosidebar.png);
    -webkit-app-region: no-drag;
    cursor:pointer;
}
.minied{
   float:left; 
    display: block;
    width:16px;
    height:16px;
    margin:16px 0px 0 0px;
    background:url(../images/ic_tohome.png);
    -webkit-app-region: no-drag; 
    cursor:pointer;
}
.ico_suoxiao { float:left; margin:16px 0px 0 12px ;-webkit-app-region: no-drag; cursor:pointer;}
.ico_xiao { 
    float:left; 
    display: block; 
    width:16px; 
    height:16px;
    margin:16px 0px 0 12px ;
    -webkit-app-region: no-drag;
    background: url(../images/ic_minimum.png) center no-repeat;
    cursor:pointer;
}
.ico_close { float:left; margin:16px 0px 0 12px ;-webkit-app-region: no-drag; cursor:pointer;}
.left_fenlei { line-height:16px; }
.left_fenlei li { height:16px;padding-left:18px;}
.jihuo { background:#EBEBEB;}
.left_fenlei p { float:left; }
.left_fenlei span {  float:right; padding:1px 5px 0 0; }
.left_fenlei div {  float:right; padding:0 4px 0 5px; font-weight:bold;}
.liebiao_lanmu { height:22px;}
.liebiao_lanmu p { float:left; }
.link_lb {background: url(../images/liebiao_ico2.png) no-repeat 3px center; padding-left: 18px; }
.hover_lb {background: url(../images/liebiao_ico3.png) no-repeat 3px center;padding-left: 18px; }
.liebiao_lanmu span { float:right; display:block; padding:7px}

.mid_bk { height:353px; overflow: hidden;}
.mid_left { float:left; width:205px; height:353px;overflow: hidden;}
.mid_right { float:right; width:454px;/*height:369px;*/overflow: hidden;}
.left_bbanner {float:left; width:35px; height:354px;  background:#eaeaea;}
.left_bbanner a {width:35px; float:left; height:25px; display:block; text-align:center; padding-top:8px}
.left_bbanner a:hover { background: rgba(71,146,234,0.15);}
.left_bbanner .on{background: rgba(71,146,234,0.15);}
.liebiao_list { height:267px;overflow:hidden; background:#f5f5f5;  }
.liebiao_list > div{display: none;}
.ce_back { height:18px; padding:6px; display: none;}
.ce_ad_bk { height:87px; white-space:195px; overflow:hidden; cursor: pointer; position: relative;}
.ce_ad_bk img{
    position: absolute;
    left: 0;
    top: 0;
    width:170px;
    height: 88px;
}
.nr_banner { height:33px;  color:#4C4C4C; background: #F0F0F0;}
.nr_banner li { cursor: pointer; float:left; width:72px; height:31px; line-height:31px; text-align:center; margin-left:32px; font-size:12px; color:#999;  }
.nr_banner li:hover { color:#333; border-bottom:2px solid #56B1F9; cursor:hand; font-size:14px;}
.nr_banner .nr_banner_jg { color:#333; border-bottom:2px solid #56B1F9; cursor:hand; font-size:14px; }
.nr_ad { height:58px; margin:2px;}
.nr_ad_left { height:58px; float:left; width:332px; margin-right:2px; background:#D7D7D7; cursor: pointer; position: relative; }
.nr_ad_left img{
    position: absolute;
    left: 0;
    top:0;
    width:332px;
    height:58px;
}
.nr_ad_right { height:58px; float:left; width:106px; background:#D7D7D7; cursor: pointer; position: relative;}
.nr_ad_right img{
    position: absolute;
    left: 0;
    top: 0;
    width:106px;
    height:58px;
}
.tiaoshi_bk { height:30px; }
.tiaoshi_left_tu { float:left;  margin-left:20px; margin-top:5px;}
.tiaoshi_left_txt { float:left; padding-left:33px; color:#A7A7A7; font-size:12px; cursor: pointer;line-height: 30px; -webkit-app-region: no-drag;}
.tiaoshi_left_txt:hover{
    color:#92aeff;
}
.tiaoshi_right_jia { float:right; margin:5px 15px 0 0px; -webkit-app-region: no-drag;}
.toggle_onoff { float:right; margin:2px; margin-right:20px; -webkit-app-region: no-drag;}
.toggle_onoff a { 
    background:url(../images/switch_off.png); 
    display:block;
    width:28px; 
    height:14px; 
    margin-top:5px;
}
/*.toggle_onoff a:hover{
    background:url(../images/toggle_on.png);
}*/
.toggle_onoff .on { 
    background:url(../images/switch_on.png);

}

/*.toggle_onoff .on:hover { 
    background:url(../images/toggle_off.png);
}*/

.list_shengxiao {width:450px; height: 228px; padding:0 2px; display: none;}

.list_shengxiao ul{height:228px; overflow-y:scroll;}


.list_shengxiao li {
    float:left;  
    width:90px;
    height:32px;
    font-size:14px; 
    line-height:30px; 
    text-align:center; 
    margin:7px 10px 7px 10px; 
    background: #eee;
    border-radius: 4px;
}
.list_shengxiao li a {
    font-size: 12px;
    width:90px; 
    height:32px; 
    position:relative;
    display:block;  
    color:#333;
    text-decoration: none;
    border-radius: 4px;
}

.list_shengxiao li a span{
    display:none;
    position:absolute;
    width:12px;
    height:12px;
    top:-4px;
    right:-4px;
    text-align: center;
    line-height: 8px;
    color:#fff;
    background: #f13b3b;
    border-radius:50%;
}

.list_shengxiao.sort li{
    cursor:move;
    -webkit-user-select: none;
}
.list_shengxiao.sort li a span{
    display:block;
}
.list_shengxiao.sort li a span:after{
    content:'x';
}

.list_shengxiao li a:hover { 
    color:#E95D4B; 
}
.list_shengxiao li a:active { 
    background:#509AD5;
    color:#FFF; 
}
.list_shengxiao .on a{
	background:#509AD5;
    color:#FFF; 
}
.shiting_bk { height:30px; border-bottom:1px solid #CCC;}
.shiting_left { float:left; padding:6px 0 0 12px;}
.shiting_right { float:right; padding:7px 12px 0 0;}
.moren_list { position: relative; height:30px; line-height:30px; font-size:10px; color:#333; cursor: pointer;-webkit-user-select: none;}
.moren_list p { float:left; }
.moren_list span { 
    float:left;
    display:block; 
    width:10px;
    height:10px;
    margin-top:11px;
    margin-left:4px;
    background:url(../images/list_arrow_right.png) no-repeat center;
    transition: transform .5s;
}
.moren_list.on span{
    transform: rotate(90deg);
}
.mrlink_lb {padding-left: 14px; }


.moren_list.on+ul{
    display:block;
}

.gai_list_2 {display:none; height:236px; overflow-y: auto; line-height:30px; font-size:14px; color:#213547; padding:0 2px;}
.gai_list_2 li { height:30px; font-size:10px; overflow: hidden;  }
.gai_list_2 li p { 
    float:left; 
    width:76px; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow:ellipsis;  
    cursor:default; 
    padding-left:10px;}

.gai_list_2 li a { display:none; float:right; width:12px; height:12px; margin:10px 6px 0 0; cursor: pointer;}
.gai_list_2 li span{
    display: block;
    float:right; 
    margin-top:9px;
    font-size:8px; 
    transform: scale(0.75);
    color:#333;    
    line-height: 16px;
}
.gai_list_2 li .type{
    background:#ccc; 
    padding:0 4px; 
    border-radius: 8px; 
}
.gai_list_2 li .time{
    padding:0;

}
.gai_list_2 .on a,.gai_list_2 li:hover a{ display: block; }
.gai_list_2 .on span,.gai_list_2 li:hover span{ display: none; }
.gai_list_2 .favorite{
    background:url(../images/list_ic_like_normal.png) no-repeat center;
}
.gai_list_2 .favorited{
    background:url(../images/list_ic_like_focus.png) no-repeat center;
}
.gai_list_2 .on .favorited{
    background:url(../images/list_ic_like_focus.png) no-repeat center;
}
.gai_list_2 .delete{
    background:url(../images/list_ic_delete.png) no-repeat center;
}
.gai_list_2 li {display:block; width:100%; height:30px;}
.gai_list_2 li:hover { background:#4792EA; }
.gai_list_2 li:hover p{
    color:#fff;
}
.gai_list_2 li:hover .favorite{
    background-image: url(../images/list_ic_like_normal.png);
}
.gai_list_2 li:hover .delete{
    background-image: url(../images/list_ic_delete.png);
}
.gai_list_2 li:hover .more{
    background-image: url(../images/list_ic_more.png);
}
.gai_list_2 .on .more{
    background-image: url(../images/list_ic_more.png);
}
.gai_list_2 .on:hover{
    background: #4792EA;
}
.gai_list_2 .on{
   background:#4792EA;
   border-radius:2px;
}
.gai_list_2 .on p{
    color:#fff;
}
.gai_list_2 .on .favorite{
    background-image: url(../images/list_ic_like_normal.png);
}
.gai_list_2 .on .delete{
    background-image: url(../images/list_ic_delete.png);
}



.bofang_bk { height:50px; position:relative; -webkit-app-region: drag;}
.bofang_1 { 
	float:left;
	display: block;
	width:14px;
	height:14px; 
	margin:18px 0 0 0px;
	background: url(../images/control_last.png) no-repeat;
	opacity:.8;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.bofang_2 { 
    position: relative;
    display:block; 
    float:left; 
    margin:13px 0 0 8px;
    width:24px;
    height:24px;
    background:url(../images/control_play.png) center no-repeat;
    cursor: default;
    opacity:.8;
    cursor: pointer;
    -webkit-app-region: no-drag;
    z-index: 2;
}
.bofang_2.playing{
    background:url(../images/control_stop.png) bottom left no-repeat;
} 



.bofang_3 { 
	float:left; 
	margin:18px 0 0 8px;
	width:14px;
	height:14px; 
	background: url(../images/control_next.png) no-repeat;
	opacity:.8;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.bofang_1:hover,.bofang_2:hover,.bofang_3:hover{
	opacity:1;
}
.jindu_bk { padding:16px 0 0 10px; float:left; width:240px; }
.jindu_shang {
    float:left;
    width:100px;
    padding:10px 0 0 10px;
 }
.jindu_shang dd{
    float:left;
    width: 30px;
    height:30px;
}
.jindu_shang dt{
    float:left;
    margin-left:7px;
    padding-top:4px;
    width:60px;
    height:30px;
    overflow: hidden;
    font-size:10px;
}

.jindu_shang span { 
    display:block;
    line-height:12px;
    color:#fff;
}
.jindu_shang p {width:60px; color:#FFF; height:12px; line-height:12px; overflow: hidden; text-overflow:ellipsis;
    white-space: nowrap; -webkit-app-region: no-drag;}
.jindu_xia { height:16px; line-height:16px; -webkit-app-region: no-drag;}
.jindu_shijian { float:left; color:#FFF;}
.jindu_tiao { width:160px; float:left; height:4px; background:rgba(255,255,255,.3); line-height:4px; margin:6px 6px; overflow:hidden; border-radius:4px;}

.jindu_tiao .process{
	width:0%;
	height:4px;
	background:rgba(255,255,255,1);
    border-radius:4px;
}

.volume{
	width:100%;
	height:4px;
	background:rgba(255,255,255,1);
    border-radius:4px;
}

.bofang_4 { 
    float:left; 
    display: block;
    width:20px;
    height:20px;
    margin:15px 10px 0 10px;
    background: url(../images/control_ic_delete.png) top center no-repeat;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.bofang_bk .favorite { 
    float:left; 
    display: block; 
    width: 20px; 
    height:20px; 
    margin:16px 10px 0 0;
    background: url(../images/control_ic_like_normal.png) top center no-repeat;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
/*.bofang_bk .favorite:hover{
    background: url(../images/favorited2.png) top center no-repeat;
}*/
.bofang_bk .favorited{
    float:left; 
    display: block; 
    width: 20px; 
    height:20px; 
    margin:16px 10px 0 0;
    background: url(../images/control_ic_like_focus.png) top center no-repeat;
    -webkit-app-region: no-drag;
    cursor: pointer;
}
.circle { 
    float:left;
    display: block;
    width:20px;
    height:20px; 
    margin:17px 10px 0 0;
    background: url(../images/control_singleplay.png) no-repeat;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
/*.circle:hover{
    background: url(../images/circle.png) no-repeat;
}*/
.circled2 { 
    float:left;
    display: block;
    width:20px;
    height:20px; 
    margin:17px 10px 0 0;
    background: url(../images/control_allcyclic.png) no-repeat;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.circled1{
    float:left;
    display: block;
    width:20px;
    height:20px; 
    margin:17px 10px 0 0;
    background: url(../images/control_singlecyclic.png) no-repeat;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.bofang_7 { 
    float:left; 
    display:block;
    width:20px;
    height:20px;
    background: url(../images/control_voice.png) no-repeat;
    margin:15px 5px 0 0;
}
.shengyin_jindu { 
    width:65px; 
    height:4px; 
    background: rgba(255,255,255,.3); 
    border-radius:4px;
    line-height:4px; 
    float:left; 
    margin:23px 8px 0 0; 
    overflow:hidden;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.ce_duihua { 
    position:relative;
    width:20px; 
    height:20px; 
    background:url(../images/control_ic_message.png) no-repeat center; 
    float:left; 
    margin:16px 0 0 9px; 
    color:#fff; 
    -webkit-app-region: no-drag;
}
.ce_duihua span{
    position: absolute;
    min-width: 12px;
    height:12px;
    font-size: 12px;
    padding:2px;
    right:0;
    top:0;
    transform: translate(50%,-50%);
    background:#ea4b4b;
    border-radius:50%;
    line-height: 12px;
    text-align: center;
}

.bofang_mini { width:355px; height:240px;}
.toggle_onoff_mini { float:right; margin:2px; margin-right:10px;}
.toggle_onoff_mini a { background:url(../images/toggle_on.png); display:block;width:37px; height:17px; }
.toggle_onoff_mini a:hover { background:url(../images/toggle_off.png);}
.xiaochuang_list { padding:2px; height:120px; overflow:hidden}
.xiaochuang_list li {  font-size:17px; line-height:30px; text-align:center; }
.xiaochuang_list li a {float:left; width:76px; padding-right:7px; height:30px; display:block;background:url(../images/yinxiao_link.jpg); cursor:hand; color:#57515B;margin:0 0 13px 4px; }
.xiaochuang_list li a:hover { background:url(../images/yinxiao_hover.jpg); color:#E95D4B; }
.xiaochuang_list li a:active { background:url(../images/yinxiao_active.jpg); color:#FFF; }
.xiaochuang_ad { height:60px; width:345px; margin:0 5px; background:#D7D7D7;}
.xiao_kz { height:35px; background:#0181F7}

.miniFooter .jindu_shang{
    display:none;
}

.miniFooter .favorite,.miniFooter .favorited{
    position:absolute;
    left:16px;
    top:20px;
    width:12px;
    height:12px;
    margin:0;
}
.miniFooter .favorite{
    background: url(../images/sidepage_ic_like_normal.png) no-repeat;
}
.miniFooter .favorited{
    background: url(../images/sidepage_ic_like_focus.png) no-repeat;
}
.miniFooter  .circle,.miniFooter  .circled1,.miniFooter  .circled2{
   display: none !important;
}
.miniFooter .bofang_1{
    margin:18px 0 0 64px;
}

.pop{
    display: none;
    position:absolute;
    left:0;
    top:0;
    width:65px;
    padding:5px 10px;
    background:#fbfbfb;
    text-align: center;
    border-radius:0 4px 4px 4px;
    border:1px solid #bababa;
    z-index: 999;
    -webkit-app-region: no-drag;
}
.pop a{
    display: block;
    color:#333;
    text-decoration:none;
}
.pop a:hover{
    color:#999;
}

.left-pop{
    display: none;
    position:absolute;
    left:0;
    top:0;
    width:60px;
    padding:5px 10px;
    background:#fbfbfb;
    text-align: center;
    border-radius:0 4px 4px 4px;
    border:1px solid #bababa;
    z-index: 999;
    -webkit-app-region: no-drag;
}
.left-pop a{
    display: block;
    color:#333;
    text-decoration:none;
}
.left-pop a:hover{
    color:#999;
}

.shortCutsPop{
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:270px;
    padding:20px 20px 10px 50px;
    background:#fbfbfb;
    border:1px solid #bababa;
    border-radius:2px;
    z-index: 999;
}
.shortCutsPop label{
    display:block; 
    font-size:14px;
    margin-bottom:10px;
}
.shortCutsPop input{
    width:120px;
    height:24px;
    border:1px solid #bababa;
}
.shortCutsPop p{
    color:red;
}
.shortCutsPop .btn-box{
    margin-top: 12px;
}
.btn-box{
    margin-top: 30px;
    text-align:center;
}
.btn-box a{
    display:inline-block;
    width:70px;
    line-height: 26px;
    color:#000;
    border:1px solid #bababa;
    text-decoration:none;
    margin:0 20px;
}
.btn-box a:hover{
    border-color:#3e7ef8;
}

.setPop{
    display:none;
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:500px;
    height:330px;
    background:#fbfbfb;
    border:1px solid #bababa;
    border-radius:4px;
    overflow:hidden;
    z-index: 999;
}

.set-left{
    float:left;
    width:100px;
    height:300px;
    background: #f1f1f1;
}
.set-left a{
    display:block;
    width:100px;
    line-height: 30px;
    text-align: center;
    font-size:14px;
    color:#333;
    text-decoration: none;
    border-bottom:1px solid #bababa;
}
.set-left .on{
    background: #178fef;
    color:#fff;
}
.set-con{
    float:left;
    width:400px;
    height:300px;
    position:relative;
}
.setPop .btn-box{
    position: absolute;
    width:100%;
    bottom:20px;
    right:0px;
    text-align: right;
}
.setPop .btn-box a{
    text-align: center;
    margin-right:50px;
}
.table-box{
    width:300px;
    height:170px;
    border:1px solid #bababa;
    overflow:auto;
    margin:0px auto;
}
.table{
    width:100%;
    text-align: center;

}
.table th{
    background:#bababa;
}
.set-tab{
    display:none;
    padding:20px 20px 0;
}

.set-config{
    display: block;
    margin-top:30px;
    margin-left:20px;
}
.set-config input{
    vertical-align: -3px;
}

.choose-box{
    text-align: center;
}
.setPop h3{
    text-align: left;
    margin-bottom:10px;
    font-weight: normal;
}
.chooseAudio{
    width:300px;
    margin-top:10px;
}

.ml-10{
    margin-left:17px;
}

.to-max{
    display:none;
    float:left;
    width:14px;
    height:14px;
    margin:18px 0 0 20px;
    background:url(../images/miniplayer_ic_bigger.png) no-repeat;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.midFooter .favorite,.midFooter .favorited,.midFooter .circle,.midFooter .circled1,.midFooter .circled2,.midFooter .jindu_shang{
    display: none !important;
}

/*登入弹窗*/
.login-box{
    display:none;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:320px;
    height:260px;
    background:#fbfbfb;
    border:1px solid #bababa;
    border-radius:4px;
    z-index: 999;
    font-size:14px;
    overflow: hidden;
}
.login-con{
   padding:10px 20px 10px; 
}
.login-box p{
    text-align: center;
    line-height:16px;
    color:red;
    font-size:12px;
}
.login-box ul{

}
.login-box li{
    line-height: 30px;
    margin:20px 0;
}
.login-box input[type=text],.login-box input[type=password]{
    border:1px solid #bababa;
    width:160px;
    height:30px;
    padding-left:6px;
}
.login-box a{
    font-size:12px;
    margin-left:5px;
}
.login-box .btn-box{
    margin-top:15px;
}
.login-box label{
    padding-left:45px;
}
.login-box input[type=checkbox]{
    vertical-align: -2px;
}
.mini-login{
    width:180px;
    height:260px;
}
.mini-login .login-con{
    padding:10px;
}
.mini-login ul a,.mini-login span{
    display:none;
}
.mini-login input[type=text],.mini-login input[type=password]{
    width:150px;
}
.login-box label{
    padding-left:10px;
}
.mini-login .btn-box a{
    margin:0px;
    margin-left:5px;
}

.pop-head{
    padding:0 10px;
    line-height: 40px;
    background-image: linear-gradient(-1deg, #3083E5 0%, #4CAEFB 100%);
    color:#fff;
    font-size:16px;
    text-align: center;
}



/***   v2 ***/
.top_banner{
    overflow:hidden;
}
.logo{
    float:left;
    display: block;
    width:26px;
    height:26px;
    margin:10px 0 0 7px;
    background: url(../images/logo.png) no-repeat;
}
.denglu_24bk { float:left; margin:12px 0 0 16px; -webkit-app-region: no-drag;}



.list_shengxiao ul::-webkit-scrollbar{
    width:6px;
    background: #eee;
    border-radius:4px;
}
.list_shengxiao ul::-webkit-scrollbar-thumb{
    width:6px;
    background: #ccc;
    border-radius:4px;
}

.gai_list_2::-webkit-scrollbar{
    width:6px;
    background: #eee;
    border-radius:4px;
}
.gai_list_2::-webkit-scrollbar-thumb{
    width:6px;
    background: #ccc;
    border-radius:4px;
}

.circle-progress{
    display: none;
    position:absolute;
    left:82px;
    top:9px;
    width:32px;
    height:32px;
    z-index: 1;
}
.miniFooter .circle-progress,.miniFooter .border{
    display: block;
}
.border{
    display: none;
    position:absolute;
    left:83px;
    top:10px;
    width:24px;
    height:24px;
    border:3px solid rgba(255,255,255,.3);
    border-radius: 50%;
}
.miniFooter{-webkit-app-region: no-drag;}
.miniFooter .bofang_2{
    background: url(../images/sidepage_play.png) 6px 5px no-repeat;
}
.miniFooter .playing{
    background: url(../images/sidepage_suspend.png) center no-repeat;
}

.mini-volume{
    display: none;
    position: absolute;
    top: 19px;
    right: 15px;
    width:12px;
    height: 12px;
    background: url(../images/sidepage_ic_voice.png);
    -webkit-app-region: no-drag;
}
.mini-volume input{
    display: none;
    position: absolute;
    top:-28px;
    left:-20px;
    -webkit-appearance: none;
    width:50px;
    height:4px;
    transform:rotate(-90deg);
    -webkit-app-region: no-drag;
    border-radius: 10px;
}
.miniFooter .mini-volume{
    display: block;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 4px;
    border-radius: 10px; /*将轨道设为圆角的*/
    background: rgba(255,255,255,.5);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    margin-top: -3px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff; 
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
.mini-type{
    display: none;
    position: absolute;
    top:17px;
    right:32px;
    padding:2px 4px;
    line-height: 12px;
    border-radius:6px;
    font-size: 12px;
    background: #ccc;
    color:#333;
    transform: scale(.75);
}
.miniFooter .mini-type{
    display: block;
}

.mid-close{
    display: none;
    float:right;
    width:15px;
    height:15px;
    margin: 7px 10px 0 0px;
    background: url(../images/miniplayer_ic_off.png) no-repeat;
    cursor:pointer;
    -webkit-app-region: no-drag;
}
.midTool{
    -webkit-app-region: drag;
}
.midTool .mid-close{
    display: block;
}

.lib-side{
    float:left;
    width:128px;
    height:228px;
    overflow: auto;
}

.lib-side::-webkit-scrollbar,.lib-con::-webkit-scrollbar{
    width:6px;
    background: #eee;
    border-radius:4px;
}
.lib-side::-webkit-scrollbar-thumb,.lib-con::-webkit-scrollbar-thumb{
    width:6px;
    background: #ccc;
    border-radius:4px;
}

.lib-mod{width:120px;margin-bottom:10px;}
.lib-mod h3{
    width:118px;
    margin:0 auto;
    font-size:14px;
    text-align: center;
    color:#949494;
    line-height: 26px;
    background: #eee;
    cursor: pointer;
}

.lib-mod h3 span{
    display: inline-block;
    margin-left:4px;
    width:10px;
    height: 10px;
    background: url(../images/list_arrow_right.png) no-repeat;
    transition: transform .5s;
}
.lib-mod .on span{
    transform: rotate(90deg);
}
.lib-mod ul{
    overflow: hidden;
    height:76px;
}
.lib-mod ul li{
    float:left;
    width:58px;
    height: 24px;
    margin:1px;
    font-size:12px;
    line-height: 24px;
    border-radius:0;
    cursor: pointer;
}

.lib-con{
    float:left;
    width:316px;
    height:228px;
    margin-left:6px;
    overflow: auto;
}
.lib-con h3{
    padding-left:2px;
    border-bottom:1px solid #d9d9d9;
    background:#f4f4f4;
}
.lib-con table{
    width:100%;
}

.lib-con table th{
    text-align: left;
    font-weight: normal;
}
.lib-con table .on{
    color:#52abf6;
}
.lib-con table td{}
.lib-con table td span{cursor: pointer;}
.lib-con table tr:nth-child(odd){
    background: #f4f4f4;
}
.lib-con .lib-name span{
    display: inline-block;
    width:140px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.page{
    text-align: center;
    font-size:14px;
    margin-top:10px;
}
.page a{
    display: inline-block;
    width:20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color:#333;
    text-decoration:none;
}
.page .active{
    display: inline-block;
    width:20px;
    height:20px;
    color:#fff;
    background:#52abf6;
}

.rename-pop{
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:230px;
    padding:20px;
    background: #fbfbfb;
    border:1px solid #bababa;
    z-index: 999;
    border-radius:2px;
}
.rename-pop label{
    display: block;
    height: 30px;
    padding-left: 20px;
}
.rename-pop input{
    width:120px;
    height:26px;
    border:1px solid #bababa;
    padding-left:4px;
}
.rename-pop .btn-box{
    margin-top:14px;
}

.group-pop{
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:230px;
    padding:20px;
    background: #fbfbfb;
    border:1px solid #bababa;
    z-index: 999;
    border-radius:2px;
}
.group-pop label{
    display: block;
    height: 30px;
    padding-left: 20px;
}
.group-pop input{
    width:120px;
    height:26px;
    border:1px solid #bababa;
    padding-left:4px;
}
.group-pop .btn-box{
    margin-top:14px;
}

.add-group{
    height: 266px;
}

.init-button{
    margin-top:15px;
    margin-left: 18px;
}

.choose-pop{
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:230px;
    padding:20px;
    background: #fbfbfb;
    border:1px solid #bababa;
    z-index: 999;
    border-radius:2px;
}

.choose-pop label{
    display: block;
    height: 24px;
    padding-left: 60px;
}
.choose-pop input{
    width:14px;
    vertical-align: middle;
}
.choose-pop .btn-box{
    margin-top:14px;
}

.moren_list .remove{
    text-decoration:none;
    position: absolute;
    right:20px;
    top:0px;
    font-size:16px;
    display: none;
}
.moren_list .remove:hover{
    color:#4CAEFB;
}
.moren_list:hover .remove{
    display: block;
}